.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.page-title h4 {
    margin: 0;
    font-weight: 400;
    font-size: 1.9rem;
}

.block-overview {
    display: flex;
}

.block-overview .block-gain {
    background-color: aquamarine;
    text-align: left;
    padding: 20px;
    margin-right: 20px;
}

.block-overview .block-gain span {
    color: black;
    font-size: 24px;
    font-weight: 300;
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
}

.block-overview .block-gain h4 {
    font-weight: 400;
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.9466666667rem 0 1.168rem 0;
}

.block-overview .block-gain p {
    margin: 0;
}

.block-overview .block-order {
    background-color: bisque;
    text-align: left;
    padding: 20px;
    margin-right: 20px;
}

.block-overview .block-order span {
    color: black;
    font-size: 24px;
    font-weight: 300;
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
}

.block-overview .block-order h4 {
    font-weight: 400;
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.9466666667rem 0 1.168rem 0;
}

.block-overview .block-order p {
    margin: 0;
}
